<!-- P2-3c,d:  In the templates directory, create a new file bestMovie.html.
    In bestMovie.html, use Thymeleaf syntax to output “The best movie is: ” and the best movie retrieved from the BestMovieService.
    P2-4b: link index.html
-->


<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>The Best Movie</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="'The best movie is: ' + ${BestMovie}" />
  <a href="/">Home</a>
</body>
</html>