<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
  <p>I Love Movies, this is way too complicated</p>

  <a href="bestMovie">Find the best Movie!</a>

  <a href="voteForBestMovieForm">Vote for your favorite movie!</a>

  <a href="addMovieForm">Add a Movie!</a>

</body>
</html>

<!-- Part2-2: create index.html in templates directory
     P2-2a: p> tag to this page that displays “I Love Movies”.
     P2-4a: link to bestMovie.html
     P2-5: link for users to get to the voting form

     P3-5a: link to add movie page
-->

